<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Google Check-In</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  </head>
  <header>
    <img id="logo" src="/static/googlelogo.png" alt="Google Logo">
    <h3 style="color: #4285F4"> Check-In </h3>
  </header>
  <body>
    <h1 class="question">How are you feeling about the material?</h1>
    <form method="postThumbsUp" action="/" class="student_response_options" id="thumbsUpForm">
      <input type="image" src="/static/thumbsup.png" id="thumbsUp" method="postThumbsUp" action="/"/>
    </form>
    <!-- <form method="postThumbsDown" action="/" class="student_response_options" id="thumbsDownForm">
      <input type="image" src="../static/thumbsdown.png" id="thumbsDown" method="postThumbsDown" action="/"/>
    </form> -->
    <form class="studentQuestions" action="index.html">
      <input type="text" name="question" placeholder="Ask a question"> <br>
      <input type="submit" value="Submit">
    </form>
  </body>
  <script src="/js/script.js" type="text/javascript"></script>
</html>
